<!doctype html>
<html>
  <head>
    <title>Ultimate Compliment!</title>
    <style>
    * {
      margin: 0;
      padding: 0;
    }
    body {
      min-width: 100%;
      min-height: 100%;
    }
    .full-page {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
    }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
